<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block titel %}{{boot.name}}{% endblock titel %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/reservierung.css' %}">
{% endblock head %}
{% block content %}
  <h1>{{boat.name}}</h1>
  <p>{{boat.info}}</p>
  {% for image in images  %}
    {% if forloop.first  %}
      <table>
    {% endif %}
    <td><img class="img-responsive img-thumbnail" src="{{ image.image.url }}" alt=""></td>
    {% if forloop.last %}
      </table>
    {% endif %}
  {% endfor %}
  <h2>Wartungsaufgaben</h2>
  <ul>
  {% for eintrag in instandsetzung %}
      <li>{{eintrag.eintrag}}</li>
  {% endfor %}
  </ul>
  {% if user.is_superuser  %}
  {% for nutzer in einweisung %}
      {% if forloop.first %}
          <table class="table table-bordered">
            <thead>
              <th>Nutzer</th>
              <th>Ja</th>
              <th>Nein</th>
            </thead>
      {% endif %}
      <tr>
      <td>{{nutzer.user}}</td>
      {% if nutzer.einweisung %}
            <td><span class="glyphicon glyphicon-ok"></td>
      {% else %}
            <td><span class="glyphicon glyphicon-remove"></td>
      {% endif %}
      </tr>
  {% endfor %}
{% endif %}
{% endblock content %}
