<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load static %}
{% block titel %}Boote{% endblock titel %}
{% block head %}<link rel="stylesheet" href="{% static 'css/reservierung.css' %}">{% endblock head %}
{% block content %}
    {% for boot in liste %}
      {% for image in boot  %}
        {% if forloop.first  %}
        <div class="wrapper">
        <h3 class="top">{{image.boot.name}}</h3>
        </div>

        <table>
        {% endif %}
        <td><img class="img-responsive img-thumbnail" src="{{ image.image.url }}" alt=""></td>
        {% if forloop.last %}
      </table>
      <a class="btn btn-primary" href="{% url 'reservierung:instandsetzung' pk=image.boot.id %}">Instandsetzung</a>
      <a class="btn btn-primary" href="{% url 'reservierung:boot-details' pk=image.boot.id %}">Details</a>
        {% endif %}

    {% endfor %}

  {% endfor %}
  <br>
  <br>

<a class="btn btn-primary" href="{% url 'reservierung:boot-erstellen' %}">Boot hinzufügen</a>
{% endblock content %}
