<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load static %}
{% block titel %}Einweisungen{% endblock titel %}
{% block head %}<link rel="stylesheet" href="{% static 'css/reservierung.css' %}">{% endblock head %}
{% block content %}

  <h1>Einweisungen</h1>
  <table class="table table-bordered">
    <thead>
      <th>Boot</th>
      <th>User</th>
      <th>Einweisung</th>
      <th>Details</th>
    </thead>
    {% for einweisung in einweisungen  %}
        <tr>
          <td>{{einweisung.boot}}</td>
          <td>{{einweisung.user}}</td>
          {% if einweisung.einweisung %}
                <td><span class="glyphicon glyphicon-ok"></td>
          {% else %}
                <td><span class="glyphicon glyphicon-remove"></td>
          {% endif %}
          <td><a href="{% url 'reservierung:einweisung-detail' pk=einweisung.id %}">Details</a></td>
        </tr>
    {% endfor %}

  </table>
{% endblock content %}
