<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block titel %}Boot-Startseite{% endblock titel %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/reservierung.css' %}">
{% endblock head %}
{% block content %}

<div class="wrapper">
  <h1 class="top">Beiträge</h1>
  {% for post in posts %}
      {% if post.published_date == None %}
      {% else %}
      <h2><a href='{% url "blog:post-detail" pk=post.id %}'>{{post.title}}</a></h2>
      <p>{{post.author}}  {{post.published_date}}</p>
      {% endif %}
  {% endfor %}

</div>
<hr>
<br>
<hr>

<div class="wrapper">
  <h1 class="top">Reservierungen</h1>
</div>
<div class="wrapper">
  <h3 class="top">{{today}} - {{end}}</h3>
</div>
{% if boats_return is None %}
<div class="wrapper">
    <h2 class="top">Keine Reservierungen</h2>
  </div>
{% else %}
  {% for boat in boats_return  %}
    {% for reserv in boat  %}
      {% if forloop.first %}
      <div class="wrapper">
        <h2 class="top">{{ reserv.reserviertesBoot }}</h2>
        </div>
        <table class="table table-bordered">
          <thead>
            <th>Anfang</th>
            <th>Ende</th>
            <th>Ziel</th>
            <th>Anlegeplatz</th>
            <th>Reserviert von</th>
            <th>E-Mail</th>
            <th>Details</th>
          </thead>
          <tbody>
    {% endif %}
    <tr>
      <td id="r_anfang">{{ reserv.a_Datum|date:"d.m.o" }} {{ reserv.a_Zeit|date:"H:i" }}</td>
      <td id="r_ende">{{ reserv.e_Datum|date:"d.m.o" }} {{ reserv.e_Zeit|date:"H:i" }}</td>
      <td>{{ reserv.ziel }}</td>
      <td>{{ reserv.anlegeplatz }}</td>
      <td>{{ reserv.reserviert_von }}</td>
      <td>{{ reserv.reserviert_von.email }}</td>
      <td id="r_details"><a href="{% url 'reservierung:detail' pk=reserv.id %}"><span class="glyphicon glyphicon-info-sign"></span> Details</a></td>
    </tr>
    {% if forloop.last %}
    </tbody>
  </table>
    {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
{% endblock content %}
