<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap3 %}
{% block titel %}Einweisung Update{% endblock titel %}
{% block head %}
<script src="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
<link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
<link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.structure.css' %}">
<link rel="stylesheet" href="{% static 'css/reservierung.css' %}">
<script>
  $(function(){
    $("#id_geplant_am").datepicker({dateFormat:'yy-mm-dd'});
  });
</script>

{% endblock head %}
{% block content %}

  <h1>Instandsetzung ändern</h1>
  <h3>{{object.eintrag}}</h3>
  <h3>{{object.boot}}</h3>
  <h3>{{object.user}}</h3>
  <hr>
  <form class="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="Submit" value="Update">
  </form>
{% endblock content %}
