<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block titel %}Regeln{% endblock titel %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/reservierung.css' %}">
{% endblock head %}
{% block content %}
<h3>Liste der Regeln</h3>


{% for regel in object_list %}
    {% if forloop.first %}
        <table>
          <thead>
            <th style="padding:1em; margin: 1em;">Nr</th>
            <th style="padding:1em; margin: 1em;">Regel</th>
            {% if user.is_staff %}
                <th style="padding:1em; margin: 1em;">Ändern</th>
                <th style="padding:1em; margin: 1em;">Löschen</th>
            {% endif %}
          </thead>
    {% endif %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ regel.regel }}</td>
        {% if user.is_staff %}
            <td><a class="btn btn-warning" href="{% url 'reservierung:regel-update' pk=regel.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a class="btn btn-danger" href="{% url 'reservierung:regel-delete' pk=regel.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
        {% endif %}

      </tr>
    {% if forloop.last %}
        </table>
    {% endif %}
    {% empty %}
    <h3>Keine Regeln hinterlegt</h3>
{% endfor %}



<a class="btn btn-primary" href="{% url 'reservierung:regel-create'%}">Regel Erstellen</a>

{% endblock content %}
