<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block titel %}{{user.username}}{% endblock titel %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/reservierung.css' %}">
{% endblock head %}
{% block content %}
<div class="wrapper">
<h1 class="last">{{user.username}}</h1>
</div>

{% for boat in boats_return  %}
  {% for reserv in boat  %}
    {% if forloop.first %}
    <div class="wrapper">
      <h2 class="top">{{ reserv.reserviertesBoot.name }}</h2>
      </div>
      <table class="table table-bordered">
        <thead>
          <th>Anfang</th>
          <th>Ende</th>
          <th>Details</th>
        </thead>
        <tbody>
  {% endif %}
  <tr>
    <td id="r_anfang">{{ reserv.a_Datum|date:"d.m.o"}} {{ reserv.a_Zeit|date:"H:i" }}</td>
    <td id="r_ende">{{ reserv.e_Datum|date:"d.m.o"}} {{ reserv.e_Zeit|date:"H:i" }}</td>
    <td id="r_details"><a href="{% url 'reservierung:detail' pk=reserv.id %}"><span class="glyphicon glyphicon-info-sign"></span>Details</a></td>
  </tr>
  {% if forloop.last %}
  </tbody>
</table>
  {% endif %}
  {% endfor %}
{% endfor %}
{% for saved_post in saved_posts  %}
    {% if forloop.first %}
    <div class="wrapper">
      <h2 class="top">Gespeicherte Posts</h2>
      </div>
      <table class="table table-bordered">
        <thead>
          <th>Titel</th>
          <th>geschrieben am</th>
          <th>veröffentlichen</th>
          <th>Löschen</th>
          <th>Details</th>
        </thead>
        <tbody>
  {% endif %}
  <tr>
    <td id="r_anfang">{{ saved_post.title }}</td>
    <td id="r_ende">{{ saved_post.created_date|date:"d.m.o"}}</td>
    <td><a class="btn btn-success" href="#"><span class"glyphicon glyphicon-ok"></span>Veröffentlichen</a></td>
    <td><a class="btn btn-danger" href="{% url 'blog:post-delete' pk=saved_post.id %}"><span class"glyphicon glyphicon-remove"></span>Löschen</a></td>
    <td id="r_details"><a href="{% url 'blog:post-detail' pk=saved_post.id %}"><span class="glyphicon glyphicon-info-sign"></span>Details</a></td>
  </tr>
  {% if forloop.last %}
  </tbody>
</table>
  {% endif %}
{% endfor %}

{% for published_post in published_posts  %}
    {% if forloop.first %}
    <div class="wrapper">
      <h2 class="top">Veröffentlichte Posts</h2>
      </div>
      <table class="table table-bordered">
        <thead>
          <th>Titel</th>
          <th>Veröffentlicht am</th>
          <th>Löschen</th>
          <th>Details</th>
        </thead>
        <tbody>
  {% endif %}
  <tr>
    <td id="r_anfang">{{ published_post.title }}</td>
    <td id="r_ende">{{ published_post.created_date|date:"d.m.o"}}</td>
    <td><a class="btn btn-danger" href="{% url 'blog:post-delete' pk=saved_post.id %}"><span class"glyphicon glyphicon-remove"></span>Löschen</a></td>
    <td id="r_details"><a href="{% url 'blog:post-detail' pk=published_post.id %}"><span class="glyphicon glyphicon-info-sign"></span>Details</a></td>
  </tr>
  {% if forloop.last %}
  </tbody>
</table>
  {% endif %}
{% endfor %}
<div class="wrapper">
<h3 id='password_change'><a class="btn btn-primary" href="{% url 'account:password-change' %}">Passwort ändern</a></h3>
</div>

{% endblock content %}
