<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block titel %}Liste{% endblock titel %}
{% block head %}
{% endblock head %}
{% block content %}

<div class="wrapper">
<h1 class="top">Reservierungen</h1>
</div>

<ul>
  {% for reservierung in reservierungen %}
    {% if forloop.first %}
      <table class="table table-bordered">
        <thead>
          <th>Boot</th>
          <th>Anfang</th>
          <th>Ende</th>
          <th>Details</th>
        </thead>
        <tbody>
  {% endif %}
  <tr>
    <td id="r_anfang">{{ reservierung.anfangsDatum|date:"d.m.o"}} {{reservierung.anfangsZeit|date:"H:i" }}</td>
    <td id="r_ende">{{ reservierung.endDatum|date:"d.m.o"}} {{ reservierung.endZeit|date:"H:i" }}</td>
    <td id="r_details"><a href="{% url 'reservierung:reservierung-detail' pk=reservierung.id %}"><span class="glyphicon glyphicon-info-sign"></span> Details</a></td>
  </tr>
  {% if forloop.last %}
  </tbody>
</table>
  {% endif %}
  {% endfor %}

</ul>
{% endblock content %}
