<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block titel %}Sperren{% endblock titel %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/reservierung.css' %}">
{% endblock head %}
{% block content %}

<h1>{{ object.boat.name }}</h1>
<h3>Wollen sie {{object.boat.name}} wirklich sperren?</h3>
<form class="" method="post">
  {% csrf_token %}
  {{  form.as_p }}
  <input class="btn btn-danger" type="submit" name="Submit" value="Submit">
</form>
{% endblock content %}
