<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block titel %}Sperren{% endblock titel %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/reservierung.css' %}">
{% endblock head %}
{% block content %}

<h1>{{ boat.name }}</h1>
{% if boat.sperrung %}
    <h3>Wollen sie {{boat.name}} entsperren?</h3>
    <form class="" method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" name="Entsperren" value="Entsperren">
    </form>
{% else %}
<h3>Wollen sie {{boat.name}} wirklich sperren?</h3>
<form class="" method="post">
  {% csrf_token %}
  <input class="btn btn-danger" type="submit" name="Sperren" value="Sperren">
</form>

{% endif %}

{% endblock content %}
