<!DOCTYPE html>
{% extends "base.html" %}
{% load account_tags %}
{% block titel %}Post Detail{% endblock titel %}
{% block content %}
<h1>{{ post.title}}</h1>

<hr>
<pre>{{post.text}}</pre>
<hr><br>
<h6><b>Author:</b>{{post.author}}<br> <b>Erstellt am:</b> {{post.created_date}}<br> <b>Veröffentlicht am:</b> {{post.published_date}}</h6>

{% if user|is_creator:post.author or user.is_superuser  %}
<a class="btn btn-danger" href="{% url 'blog:post-delete' pk=post.id %}">Löschen</a>
<a class="btn btn-warning" href="{% url 'blog:post-update' pk=post.id %}">Ändern</a>
{% endif %}
{% if user|is_creator:post.author  %}
<a class="btn btn-success" href="{% url 'blog:post-publish' pk=post.id %}">Veröffentlichen</a>
{% endif %}

{% endblock content %}
