<!DOCTYPE html>
{% extends "base.html" %}
{% block titel %}Post Detail{% endblock titel %}
{% block content %}
<h1>{{ post.title}}</h1>

<hr>
<p>{{post.text}}</p>
<hr><br>
<h6><b>Author:</b>{{post.author}}    <b>Erstellt am:</b> {{post.created_date}}       <b>Veröffentlicht am:</b> {{post.published_date}}</h6>

<a class="btn btn-danger" href="{% url 'blog:post-delete' pk=post.id %}">Löschen</a>
<a class="btn btn-warning" href="{% url 'blog:post-update' pk=post.id %}">Ändern</a>
{% endblock content %}
