<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block titel %}Blog{% endblock titel %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/reservierung.css' %}">
{% endblock head %}
{% block content %}
  <h1>Blogposts</h1>
  {% for post in posts  %}
      <h2><a href='#'>{{post.title}}</a></h2>
      <p>{{post.author}}  {{post.published_date}}</p>
  {% endfor %}
<br>
<a class="btn btn-primary" href="{% url 'blog:post-create' %}">Post erstellen</a>
{% endblock content %}
